<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:replace="~{layouts/base::html(header=~{::header})}">
<body>
<header>
  <ul class="nav">
    <li><a th:href="@{/}">홈</a></li>
    <li><a th:href="@{/user/users(count=10,page=1)}">회원</a></li>
    <li><a th:href="@{/post/posts(count=10,page=1)}">포스트</a></li>
    <li sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/user/me}"
        sec:authentication="principal.name"></a></li>
  </ul>
</header>
</body>
</html>